.ContainerTodoList {
    margin-right: 64px;
    margin-bottom: 12px;
    justify-self: center;
}

@media only screen and (min-width: 641px) and (max-width: 1067px) {

    .ContainerTodoList {
        margin:0;
        width: 400px;
    }

}




@media only screen and (max-width: 640px) {
    .ContainerTodoList {
        margin:0;
        width: 300px;
    }
}