.AddTaskMobile {
    display: none;
}


@media only screen and (min-width: 641px) and (max-width: 1067px) {


    .AddTaskMobile{
        display: flex;
        position: fixed;
        padding: 16px;
        border-radius: 50%;
        border: none;
        background-color: var(--primary-color);
        color: var(--color-1);
        font-size: var(--lg);
        font-weight: 800;
        align-self: flex-end;
        right: 20px;
        bottom: 20px;
        z-index: 1;
        transform: rotate(0);
        transition: .3s ease;
        cursor: pointer;
    }

    .AddTaskMobile:hover {
        transform: rotate(224deg);
    }


}

@media only screen and (max-width: 640px) {


    .AddTaskMobile {
        display: flex;
        position: fixed;
        padding: 14px;
        border-radius: 50%;
        border: none;
        background-color: var(--primary-color);
        color: var(--color-1);
        font-size: var(--md);
        font-weight: 600;
        align-self: flex-end;
        right: 20px;
        bottom: 20px;
        z-index: 1;
        transform: rotate(0);
        transition: .3s ease;
        cursor: pointer;
    }

    .AddTaskMobile:hover {
        transform: rotate(224deg);
    }


}
