.FormCreate-label {
    width: 100%;
    font-size: var(--sm);
    display: inline-block;
    font-weight: 600;
}

.FormCreate-input {
    font-family: 'poppins';
    width: 100%;
    display: inline-block;
    background: rgb(255, 255, 255, 0.5);
    height: 40px;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    letter-spacing: 0.8px;
}

.FormCreate-input:focus {
    outline-color: var(--secondary-color);
}

@media only screen and (min-width: 641px) and (max-width: 1067px) {


}