@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

:root {
  --primary-color: #470D77;
  --secondary-color: #910A5C;
  --color-1: #FFFFFF;
  --color-2: #605e5d;
  --color-3: #F96105;
  --color-4: red;
  --color-5: #4caf50;
  --color-6: rgb(202, 198, 203);
  --color-7: #DE429B;
  --color-8: #FBA855;
  --gradient: linear-gradient(var(--primary-color), var(--secondary-color));
  
  --xl: 4rem;
  --lg: 3rem;
  --md: 2rem;
  --sm: 1rem;
  --xs: 0.9rem;
  --xxs: 0.7rem;
}

html {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/img/background.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

footer {
  margin: 0;
}

h1 {
  font-size: var(--xl);
}

h2 {
  margin: 0;
  font-size: var(--md);
}

input {
  padding-left: 10px;
  font-size: var(--xs);
}

label {
  font-size: var(--sm);
}


textarea {
  padding: 14px 10px 0;
  overflow-y:auto;
  font-size: var(--xs);
  vertical-align: middle;
}


.title-primary {
  font-weight: 900;
}

.color-primary {
  color: var(--primary-color);
}

.color-gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  color: transparent;
}

.color-danger {
  color: var(--color-4);
}

.bg-primary {
  background-color: var(--primary-color);
}

.button-primary {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 10px;
  border: none;
  color: var(--color-1);
  letter-spacing: 2px;
}

.button-secondary {
  background-color: var(--color-6);
  border-radius: 10px;
  padding: 10px;
  border: none;
  color: var(--color-2);
  letter-spacing: 2px;
}

.center {
  text-align: center;
}

@media only screen and (max-width: 1067px) {

  h1 {
    font-size: var(--lg);
  }

  h2 {
    font-size: var(--sm);
  }

  textarea {
    padding: 5px 10px 0;
    font-size: var(--xxs);
  }


  .button-primary {
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 8px;
    border: none;
    color: var(--color-1);
    letter-spacing: 2px;
  }
  
  .button-secondary {
    background-color: var(--color-6);
    border-radius: 5px;
    padding: 8px;
    border: none;
    color: var(--color-2);
    letter-spacing: 2px;
  }
  
}