.Container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 20px;
    padding-bottom: 10%;
  }
  
.Container-text-secondary {
    font-size: 24px;
    text-align: center;
}

@media only screen and (min-width: 641px) and (max-width: 1067px) {

  .Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    height: calc(100vh - 10px);
  }

}

@media only screen and (max-width: 640px) {

  .Container {
    display: grid;
    grid-template-columns: 1fr;
    height: calc(100vh - 50px);
  }

}


